/* Style of main body */
#gameText {
     display: flex;
     flex-direction: column;
     text-align: justify;
     position: absolute;
     bottom: 3vh;
     overflow: auto;
     margin-top: 25px;
     max-height: 90vh;
     width: 96vw;
     margin-left: 2vw;
     margin-right: 2.5vw;
	 /* Hidding Scrollbar */
	 -ms-overflow-style: none;  /* Internet Explorer 10+ */
     scrollbar-width: none;  /* Firefox */
}

#gameText::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Console typing area */
#inputContianer {
     position:absolute;
     left: 0;
     bottom: 0;
     height:3vh;
     width: 96vw;
     margin-left: 2vw;
}

#inputBox {
     width: 100vw;
     white-space: nowrap;
}
 
#inputBox #roomNumber{
    margin-right: 0;
    width: calc(100% - 90px);
    white-space: nowrap;
    background-color: transparent;
    color: green;
    outline: none;
    border: none;
}

#inputContianer input {
	font-family: 'terminal', monospace;
}

/* Classes within GameText 
	Eventually I'd like to be able to specify this info in the book meta data, but thats a later problem
*/

.typedRoom {
	/* This will applay to all new entries into the main console*/
	margin-left: 1.15em;
	text-indent: -1.15em;
}


.roomNumber {
	/* This is specfically the clickable room numbers embeded in the text*/
    color: #FFB000; /*Amber*/
}

.gameStats {
	/* This is used when books call out stats that would show up on the adventure sheet*/
	color: #F3E5AB;
	font-size: .9em;
	
}
.gameStatsInitial {
	/* This is used when books call out stats that would show up on the adventure sheet*/
	color: #F3E5AB;
	font-size: .9em;
	font-style: italic;
	
}

.sectionHeader {
	color: #E18335;
}

.subsectionHeader{
	color: #E18C47;
}
/* Specified in such a way as to only hit the a tags within the game text, in case I do a sidebar or overlay with a tags

not happy with this color, but its fine*/
#gameText a:link, #gameText a:visited {
  color: pink;
  text-decoration: underline;
  cursor: auto;
}

#gameText a:link:active, #gameText a:visited:active {
  color: pink;
}