body {
     background-color: black;
     background-image: radial-gradient( rgba(0, 50, 0, 0.75), black 120% );
     height: 100vh;
     color: green;
     font-family: 'Cascadia Code', monospace;
     overflow: hidden;
}
 body::after {
     content: "";
     z-index: -1;
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: repeating-linear-gradient(0deg, rgba(black, 0.15), rgba(black, 0.15) 1px, transparent 1px, transparent 2px);
}



 #Navbar {
     position: fixed;
     bottom: 0;
     top: 0;
     left: 0;
     width: 300px;
     border: 3px solid #73AD21;
}
 #main{
     position: relative;
     height: 97%;
     width: 98%;
}



