#notesBox {
  position: relative;
  display: inline;
  text-align: right;
  float: right;
  z-index: 6;
  color: #008000;
  font-family: IBMBios, monospace;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: black;
  font-family: IBMBios, monospace;
  color: #008000;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 15px;
  margin-right: 0;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  position: relative;
  z-index: 6;
}

.collapsible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */

  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
}

#notesBoxContent {
  resize: both;
  direction:rtl;
  border: 2px solid #008000;


}
#notesBox textarea {
  resize: none;
  /* direction: rtl; */
  text-align: left;
  border: none;
  color: #008000;
  background-color: black;
  font-family: IBMBios, monospace;
  font-size: 1em;
  overflow: hidden;
  width:100%;
  height: 100%;
}

#notesBox textarea::-webkit-resizer {
  border-width: 8px;
  border-style: solid;
  border-color: transparent orangered orangered transparent;
}
