html {
  min-width: 100%;
  position: absolute;
  right: 0;
}

/* Style of main body */
#gameText {
  display: flex;
  flex-direction: column;
  text-align: justify;
  position: absolute;
  bottom: 3vh;
  overflow: auto;
  max-height: 94.5vh;
  width: 98%;
  z-index: 2;
}

/* Hidding Scrollbar */
#gameText::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Console typing area */
#inputContianer {
  position: absolute;
  bottom: 0;
  height: 3vh;
  width: 100%;
}

#inputBox {
  width: 100vw;
  white-space: nowrap;
}

#inputBox #roomNumber {
  /* width: 100%; */
  padding: 0;
  white-space: nowrap;
  background-color: transparent;
  color: green;
  outline: none;
  border: none;
}

#inputContianer input {
  font-family: IBMBios, monospace;
  font-size: 1em;
}


/* Styles that are book independent */
#helpTable td {
  overflow: hidden;
  position: relative;
}

#helpTable td:not(:last-child) {
  padding-right: 30px;
}

#helpTable td:not(:last-child) > div:after {
  content: "............................................................................................";
  position: absolute;
}
