@font-face {
  font-family: IBMBios;
  src: url("Ac437_IBM_BIOS-2y.ttf");
} /*found at https://int10h.org/oldschool-pc-fonts/fontlist/ */

@font-face {
  font-family: OpenDyslexic;
  src: url("OpenDyslexic-Bold.otf");
} /* https://antijingoist.gumroad.com/l/OpenDyslexic */

body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 50, 0, 0.75), black 120%);
  height: 100vh;
  color: #008000;
  font-family: "IBMBios", monospace;
  overflow: hidden;
}

body::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

#main {
  position: relative;
  height: 97%;
  width: 98%;
}
