@font-face {
  font-family: IBMBios;
  src: url("Ac437_IBM_BIOS-2y.ttf");
} /*found at https://int10h.org/oldschool-pc-fonts/fontlist/ */

@font-face {
  font-family: OpenDyslexic;
  src: url("OpenDyslexic-Bold.otf");
} /* https://antijingoist.gumroad.com/l/OpenDyslexic */

body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 50, 0, 0.75), black 120%);
  height: 100%;
  width: 100%;
  color: #008000;
  font-family: IBMBios, monospace;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

#main {
  position: absolute;
  left: 10px;
  height: 100%;
  width: 100%;
}

/* Styles that are book independent */
#helpTable td {
  overflow: hidden;
  position: relative;
}

#helpTable td:not(:last-child) {
  padding-right: 30px;
}

#helpTable td:not(:last-child) > div:after {
  content: "............................................................................................";
  position: absolute;
}
